<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>De Angular 1 à Angular 2</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="devoxx_style/devoxxfr.css" id="theme">


		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/sunburst.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<style>
		div.patate-schema {
			text-align: center;

		}
		div.patate {
			border:1px solid white;
			border-radius: 100%;
			height:200px;
			width:200px;
			margin-left:auto;
			margin-right:auto;
			margin-top:20px;
			margin-bottom:20px;
		}

		span.patate-label {
			margin-top:10px;
			font-weight: bold;
			display: block;
			margin-bottom:15px;
		}

		span.patate-content {
			font-size: 20px;
			display:block;
		}

		div.big-patate {
			height:600px;
			width:600px;


		}
		</style>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
      <!--
TODO

* continuer d'éditer le CSS -> titre tout en haut
* Repréciser régulièrement que l'on fait de l'Angular 1
* Insister lourdement sur le fait de faire des archi composants
* Expliquer le $inject
* Faire une comparaison côte à côte d'Angular 1 et 2

      -->

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-state="intro">
				      <h1>De Angular 1<br /> à Angular 2</h1>
              <div>
                <img src="images/Angular1-logo.png" style="vertical-align:middle; height:200px"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="images/Angular2-logo.png" style="vertical-align:middle; height:200px"/>
              </div>

				</section>

        <section>
          <h2>Qui suis-je&nbsp;?</h2>

          <ul style="display:inline-block;width:560px;vertical-align:top;position:relative;top:40px;">
            <li>Benoît Lemoine</li>
            <li>Développeur FullStack chez Captain&nbsp;Dash
              <br />(<strong>Scala</strong> / <strong>TypeScript</strong>)
              </li>
            <li>@benoit_lemoine</li>
          </ul>
          <img style="display:inline-block;width:350px; vertical-align:top;" src="images/moloch.jpg" />
        </section>

        <section>
          <h2>Un peu d'histoire</h2>
          <h3>2009</h3>
            <img src="images/erectus.jpg" />

        </section>

        <section>
          <h2>2009</h2>
            <ul>
              <li class="fragment">Sortie d'<em>Angular</em></li>
              <li class="fragment">Un framework Web</li>
              <li class="fragment">Open source - License MIT</li>
            </ul>
        </section>

        <section>
          <h2>~2011</h2>
          <ul>
            <li class="fragment">Angular est sponsorisé par Google</li>
            <li class="fragment">Angular est à la mode</li>
          </ul>
          <br />
          <br />
        </section>

        <section>
          <h2>Septembre 2014</h2>
          <ul>
            <li class="fragment">Annonce d'<em>Angular 2</em></li>
            <li class="fragment">N'a plus grand chose à voir avec <em>Angular 1</em></li>
            <li class="fragment">Pas de chemin de migration prévu</li>
          </ul>
        </section>

        <section>
          <h2>2015</h2>
          <ul>
            <li class="fragment">Année du <em>Angular Bashing</em></li>
            <li class="fragment">Chemin de migration prévu</li>
          </ul>
          <br />
          <br />
        </section>

        <section>
          <h2>2016</h2>
          <ul>
            <li class="fragment">Sortie d'Angular 2 ?</li>
          </ul>
          <br />
          <br />
          <br />
        </section>

        <section>
          <h2>Angular 1 VS Angular 2</h2>
          <table>
            <thead>
              <tr>
                <th>Angular 1</th>
                <th>Angular 2</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fragment">
                <td>JavaScript</td>
                <td>TypeScript</td>
              <tr>
              <tr class="fragment">
                <td>Orienté MV*</td>
                <td>Orienté composant</td>
              <tr>
              <tr class="fragment">
                <td>Double databinding</td>
                <td>databinding <em>presque</em> unidrectionnel</td>
              <tr>
            </tbody>
          </table>
        </section>

        <section>
          <h2>Angular 2 - Exemple</h2>
<pre><code class="typescript" data-trim>
@Component({
      selector: 'my-app',
      template:`
            &lt;h1>{{title}}&lt;/h1>
            &lt;input [(ngModel)]="hero.name" placeholder="name">
      `
})
export class AppComponent {
      public title: string = 'Tour of Heroes';
      public hero: Hero = {
            id: 1,
            name: 'Windstorm'
      };
}
</code></pre>
        </section>



        <section>

          <h2>Migrer progressivement <br /> d'Angular 1 à Angular 2</h2>

        </section>

        <section>
          <h2>Étape 1</h2>
          <h3>Suivre les bonnes pratiques</h3>
        </section>

        <section>
          <h2>Réorganiser son code</h2>
          <p style="margin:10px">Organisation en modules <strike>techniques</strike> fonctionnels</p>
          <img src="images/angular-component-tree.png" style="height:460px"/>
        </section>

        <section>
          <h2>Service</h2>
          <ul>
            <li>Éviter <strike><code>factory</code></strike></li>
            <li>Utiliser <code>service</code></li>
          </ul>
<pre><code class="javascript" data-trim>
TurtlesService.$inject = ['$q']
function TurtlesService($q) {
    var self = this;
    var turtles = [{name:'Leonardo', color:'blue'}]

    self.findAll = function findAll() {
        return $q.resolve(turtles)
    }
}

angular.module('turtles.app').service('TurtlesService', TurtlesService);
</code></pre>
        </section>

                <section>
                  <h2>Controller</h2>
                  <ul>
                    <li>Bannir <strike><code>$scope</code></strike></li>
                    <li>Utiliser <code>controllerAs</code></li>
                  </ul>
<pre><code class="javascript" data-trim >
TurtlesCtrl.$inject = ['TurtlesService'];
function TurtlesCtrl(TurtlesService) {
  var $ctrl = this;
  $ctrl.turtles = [];

  TurtlesService.findAll().then(function (turtles) {
      $ctrl.turtles = turtles
  });
}
</code></pre>
                </section>

                <section>
                  <h2><code>controllerAs</code></h2>
<pre><code class="javascript" data-trim >
angular.module('turtles.app').config(['$routeProvider', function($routeProvider) {
    $routeProvider.when('/turtles', {
        templateUrl: 'src/turtles/turtles.html',
        controller: 'TurtlesCtrl',
        controllerAs: '$ctrl'
    })
}]);
</code></pre>
                </section>

                <section>
                  <h2><code>controllerAs</code></h2>
                  <pre  ><code class="html" data-trim>
&lt;ul&gt;
  &lt;li ng-repeat=&quot;turtle in $ctrl.turtles track by turtle.name&quot;&gt;
    &lt;span class=&quot;turtle-name&quot;&gt;{{turtle.name}}&lt;/span&gt;
    &lt;span class=&quot;round&quot;
          ng-style=&quot;{&#39;background-color&#39;:turtle.color}&quot;&gt;&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
              </code></pre>
                </section>

                <section>
                  <h2>Étape 2</h2>
                  <img src="images/componentsEverywhere.jpg" alt="Components"/>
                </section>

                <section>
                  <h2><code>component</code></h2>
                <pre><code class="javascript" data-trim>
var bootstrapInput = {
  bindings: {
    label: '@',
    model: '<',
    modelChange: '&amp;'
  },
  controller: BootstrapController,
  template: '&lt;div class="form-group">' +
    '&lt;label>{{$ctrl.label}}&lt;/label>' +
    '&lt;input type="text" class="form-control" ' +
    '       placeholder="{{$ctrl.label}}"  ' +
    '       ng-model="$ctrl.modelProxy" /> ' +
    '&lt;/div>'
}
                </code></pre>
                </section>

                <section >
                  <h2><code>component</code></h2>
                <pre><code class="javascript" data-trim>
function BootstrapController() {

}

Object.defineProperty(BootstrapController.prototype, "modelProxy", {
    get: function () {
        return this.model;
    },
    set: function (newModel) {
        this.modelChange({ model: newModel });
    }
});
                </code></pre>
                </section>

                <section>
                  <h2><code>component</code></h2>
<pre><code class="javascript" data-trim>
angular.module('my.app').component('bootstrapInput', bootstrapInput)
</code></pre>
<pre><code data-trim>
  &lt;bootstrap-input
      label="Name"
      model="myController.name"
      modelChange="myController.name = model"
   >&lt;/bootstrap-input>
</code></pre>
                </section>

                <section>
                  <h2>Tout est composant</h2>
                  <img src="images/app-as-component.png" />
                </section>

                <section>
                  <h2>Étape 2.5</h2>
                  <h3>Routing</h3>

                  <ul>
                    <li>Routeur orienté composant</li>
                    <li>récupérable via NPM <code>@angular/router</code></li>
                  </ul>
                </section>

                <section>
                  <h2>Routing - exemple</h2>
                  <pre><code class="javascript" data-trim>
angular.module('app',  ['ngComponentRouter', 'turtles.app'])
  .component('app', {
      template: '&lt;ng-outlet>&lt;/ng-outlet>',
      $routeConfig: [
        {
          path: '/turtles/...',
          name: 'Turtles',
          component: 'turtles',
          useAsDefault: true
        }
      ]
  })
.value('$routerRootComponent', 'app')
                  </code></pre>
                  <pre><code class="html" data-trim>
&lt;app>&lt;/app>
                  </code></pre>
                </section>

                <section>
                  <h2>Étape 3</h2>
                  <h3>Système de module</h3>
                  <h3>Dans Angular 1</h3>
                </section>

                <section>
                  <h2>ES6 Syntax</h2>
<pre><code class="javascript" data-trim>
//MyMath.ts
export default function add(a, b) {
  return a + b;
}
export function multiply(a, b) {
  return a * b;
}
</code></pre>
<pre><code class="javascript" data-trim>
import myAdd from 'MyMath';
import {multiply} from 'MyMath';

myAdd(1, 2) //3
multiply(2, 3) //6
</code></pre>
                </section>

                <section>
                  <h2>SystemJs</h2>
                  <ul>
                    <li>Module Loader</li>
                    <li class="fragment">Support AMD, CommonJS, ES6</li>
                    <li class="fragment">Défaut sur Angular 2</li>
                    <li class="fragment">Future Standard <em class="fragment">peut être</em></li>
                  </ul>
                </section>

                <section>
                  <h2>JSPM</h2>
                  <ul>
                    <li><em>Un autre</em> package manager</li>
                    <li class="fragment">Depuis npm, github, bitbucket, etc.</li>
                    <li class="fragment">Intégration forte avec SystemJs</li>
                  </ul>
                </section>

                <section>
                  <h2>TypeScript</h2>
                  <img src="images/ts-logo.png" style="height:200px"/>
                </section>

                <section>
                  <h2>TypeScript</h2>
                  <ul>
                    <li>Langage transpilant vers JavaScript</li>
                    <li class="fragment">Made in MicroSoft en 2012</li>
                    <li class="fragment">Open Source - Apache V2</li>
                    <li class="fragment">Sur-ensemble d'EcmaScript 2015/2016</li>
                    <li class="fragment">Statiquement typé</li>
                    <li class="fragment">Typage structurel et graduel</li>
                  </ul>
                </section>

                <section>
                  <h2>TypeScript - Exemple</h2>
        <pre><code class="typescript" data-trim>
interface User {
  firstName:string
  lastName:string
}

class Room {
  constructor(private users:Array&lt;User> = []) {}

  addUser(user:User) {
    this.users.push(user);
  }
}

const room = new Room();
room.addUser({firstName:'Georges', lastName:'Abitbol'});
        </code></pre>
                </section>

                <section>
                  <h2>TypeScript</h2>
                  <ul>
                    <li>Migration et apprentissage simples</li>
                    <li class="fragment">Completion dans l'IDE</li>
                    <li class="fragment">Refactoring simplifié</li>
                    <li class="fragment">Types servent de documentation</li>
                  </ul>
                </section>

                <section>
                  <h2>TypeScript</h2>
                  <p>Support des librairies tierces</p>
                  <p>par des fichiers d'entetes (.d.ts)</p>

                </section>

                <section>
                  <h2>Typings</h2>
                  <ul>
                    <li>Package manager pour les fichiers d'entête TypeScript</li>
                  </ul>
                  <pre><code data-trim>
/// &lt;reference path="main.d.ts" />
                  </code></pre>
                </section>

                <section>
                  <h2>Exemple</h2>
<pre><code class="bash" data-trim>
npm install systemjs jspm typings typescript
jspm install ts angular npm:@angular/router
typings install jquery angular angular-component-router --save --ambient
</code></pre>
<pre><code class="typescript" data-trim>
System.config({
  //...
  packages: {
    "src": {
      "defaultExtension": "ts",
      "meta": {
        "*.ts": {
          "loader": "ts"
        }
      }
    }
  },
  //...
});
</code></pre>
                </section>

                <section>
                  <h2>Bootstraping</h2>
                <pre><code class="typescript" data-trim>
System.import('src/app')
.then(function() {
  return System.import('angular');
})
.then(function(angular) {
   angular.bootstrap(document.body, ['app'], {strictDi:true});
})
.catch(function(err) {
   console.log('Error: ', err, err.stack);
});

                </code></pre>
                </section>

                <section>
                  <h2>Les types</h2>
                  <ul>
                    <li class="fragment">Bannir au maximum <code>any</code></li>
                    <li class="fragment">Typer explicitement les entrées/sorties</li>
                    <li class="fragment">Éviter les appels dynamiques</li>
                  </ul>
                </section>

                <section>
                  <h2>Les types</h2>
                  <pre><code class="typescript" data-trim>
export interface Turtle {
  name:string
  color:string
}

export default class TurtlesService {
  public turtles:Array&lt;Turtle> = [{name:'Leonardo', color:'blue'}]

  static $inject = ['$q'];
  constructor(private $q:ng.IQService) { }

  findAll():ng.IPromise&lt;Array&lt;Turtle>> {
    return this.$q.resolve(this.turtles)
  }
}
                  </code></pre>
                </section>

                <section>
                  <h2>Exemple</h2>
<pre><code class="typescript" data-trim>
import {Turtle} from './turtleService'
import TurtlesService from './turtleService';

class TurtlesCtrl {

  public turtles:Array&lt;Turtle> = []

  static $inject = ['TurtlesService'];
  constructor(private TurtlesService:TurtlesService) {
    TurtlesService.findAll().then(turtles => this.turtles = turtles)
  }
}

</code></pre>
                </section>

                <section>
                  <h2>Comment remplacer <code>$scope.$watch</code></h2>
<pre><code class="typescript" data-trim>
class TurtlesCtrl {
  public turtles:Array&lt;Turtle> = []

  get firstTurtleName():string {
    return this.turtles[0] &amp;&amp; this.turtles[0].name;
  }
  set firstTurtleName(firstTurtleName:string) {
    if (!this.turtles[0]) {
      this.turtles[0] = {name:'', color:''}
    }
    this.turtles[0].name = firstTurtleName;
  }
}
</code></pre>
<pre><code class="html" data-trim>
  &lt;input ng-model="$ctrl.firstTurtleName" />
</code></pre>
                </section>

                <section>
                  <h2>Decorators</h2>
<pre><code class="typescript" data-trim>
import _ from 'lodash';

export default function debounce(debounceInMs:number) {
 return function (target:Object, propertyKey:string,
                   descriptor:TypedPropertyDescriptor&lt;any>) {
    descriptor.value = _.debounce(descriptor.value, debounceInMs);
    return descriptor
 }
}

</code></pre>
<pre><code class="typescript" data-trim>
class TurtlesCtrl {
  @debounce(300)
  search(textToSearch:string) {
    //...
  }
}
</code></pre>
                </section>

                <section>
                  <h2>Decorators - Exemples</h2>
                  <p>Ajouter du <em>comportement transverse</em> à des méthodes</p><br />
                  <ul>
                    <li>Throttle</li>
                    <li>Memoize</li>
                    <li>Inject</li>
                    <li>etc.</li>
                  </ul>
                </section>

                <section>
                  <h2>Étape 4</h2>
                  <h3>Angular 2 !</h3>
                  <h3 class="fragment">Dans Angular 1</h3>
                </section>

                <section>
                  <h2>Installer Angular 2</h2>
                  <pre><code>jspm install angular2 rxjs reflect-metadata</code></pre>
                </section>

                <section>
                  <h2>Application hybride</h2>
                  <img src="images/hybrid.png" style="height:500px"/>
                </section>

                <section>
                  <h2>UpgradeAdapter</h2>
                  <ul>
                    <li>Upgrade des composants et service Angular 1</li>
                    <li>Downgrade des composants et service  Angular 2</li>
                  </ul>
                </section>

                <section>
                  <h2>UpgradeAdapter</h2>
<pre><code class="typescript" data-trim>
import {UpgradeAdapter} from 'angular2/upgrade';
const upgradeAdapter = new UpgradeAdapter();

export default upgradeAdapter
</code></pre>
<pre><code class="typescript" data-trim>
System.import('src/app')
.then(function() { return System.import('reflect-metadata'); })
.then(function() { return System.import('src/upgrader'); })
.then(function(upgradeAdapter) {
  upgradeAdapter.default.bootstrap(document.body, ['app']);
  //angular.bootstrap(document.body, ['app'], {strictDi:true});
})
.catch(function(err) {
  console.log('Error: ', err, err.stack);
});
</code></pre>
                </section>


                <section>
                <h2>Downgrade</h2>
                <pre style="display:inline-block;width:49%;vertical-align:top;font-size:21px;"><code class="typescript" data-trim>
&nbsp;



const turtlesShow = {
  bindings: {
    turtles:'&lt;'
  },
  template:`&lt;ul>
    &lt;li ng-repeat="turtle in $ctrl.turtles track by turtle.name">
      &lt;span class="turtle-name">{{turtle.name}}&lt;/span>
      &lt;span class="round"
        ng-style="{'background-color':turtle.color}">&lt;/span>
    &lt;/li>
  &lt;/ul>`
}

export default turtlesShow;
                </code></pre>
                <pre style="display:inline-block;width:49%;vertical-align:top;font-size:21px;"><code class="typescript" data-trim>
import 'reflect-metadata';
import {Component} from 'angular2/core';
import {Turtle} from './turtleService'

@Component({
 selector:'turtlesShow',
 template:`&lt;ul>
   &lt;li *ngFor="#turtle of turtles">
     &lt;span class="turtle-name">{{turtle.name}}&lt;/span>
     &lt;span class="round"
       [ngStyle]="{'background-color':turtle.color}">&lt;/span>
   &lt;/li>
 &lt;/ul>`,
 inputs: ['turtles']
})
export default class TurtlesShow {
    public turtles:Array&lt;Turtle> = [];
}
                </code></pre>
                </section>

                <section>
                  <h2>Downgrade</h2>
<pre ><code data-trim class="typescript">
import angular from 'angular';
import upgradeAdapter from 'upgrader';
angular.module('turtles.app').directive('turtlesShow',
        &lt;IDirectiveFactory>upgradeAdapter.downgradeNg2Component(turtlesShow2))
</code></pre>
                </section>

        <section>
        <h2>Upgrade</h2>
<pre><code data-trim class="typescript">
const MyAngular1Directive =
   upgradeAdapter.upgradeNg1Component('myAngular1Directive');

@Component({
  selector:'MyAngular2Directive',
  template:`
  &lt;div>
    &lt;My-Angular1-Directive my-params="2" />
  &lt;/div>`,
  directives:[MyAngular1Directive]
})
export default class MyAngular2Directive {

};
</code></pre>
        </section>

        <section>
          <h2>Ng-Forward</h2>
          <a href="https://github.com/ngUpgraders/ng-forward">https://github.com/ngUpgraders/ng-forward</a>
          <ul>
            <li>Utiliser les décorateurs Angular 2 dans Angular 1</li>
          </ul>
        </section>

        <section>
          <h2>Conclusion</h2>
          <ul>
            <li class="fragment">Suivre les bonnes pratiques angular</li>
            <li class="fragment">Utiliser un système de module + TypeScript</li>
            <li class="fragment">Migrer les "feuilles" de votre arbre de composants</li>
            <li class="fragment">Finir par le routing et le composant <em>top-level</em></li>
          </ul>
        </section>

        <section>
          <h2>Meta-Conclusion</h2>
          <h3 class="fragment">Faut-il vraiment migrer vers Angular 2&nbsp;?</h3>
        </section>

        <section>
          <h2>Webography</h2>
          <ul>
            <li><a href="https://angular.io/docs/ts/latest/guide/upgrade.html">https://angular.io/docs/ts/latest/guide/upgrade.html</a></li>
            <li><a href="https://github.com/johnpapa/angular-styleguide">https://github.com/johnpapa/angular-styleguide</a></li>
            <li><a style="font-size:2.2rem;" href="https://github.com/angular/angular/tree/master/modules/angular1_router">
              https://github.com/angular/angular/tree/master/modules/angular1_router
            </a></li>
            <li><a href="https://github.com/DefinitelyTyped/DefinitelyTyped">https://github.com/DefinitelyTyped/DefinitelyTyped</a></li>
          </ul>
        </section>

				<section>
					<h2>Questions&nbsp;?</h2>
          <ul>
            <li>@benoit_lemoine</li>
            <li>TODO Adresse des slides</li>
          </ul>
				</section>
        <div class="footer"><p>#fromAngular1to2</p><img align="right" src="./devoxx_style/logo-texte-devoxx-france-400.png" /></div>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: false,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom
        width:1200,
        height:675,

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
