html body {
  background-image:linear-gradient(#2a013b, #10001a);
  padding:20px;
}

html.intro body {
  background-image: url("./background_1920_1080_HD.jpg"); }


html.topbanner body {
  background-image:linear-gradient(#10001a, #2a013b); }

.reveal section img {
  border:none;
  background:transparent;
}

/* devoxx footer */
.footer {
  position:absolute;
  bottom: 0px;
  width: 100%;
  /*background-image: url("./footer_engrenage.jpg");*/
  background-position: center top; }
html.intro .footer {
  background-image: none;
}
.footer img {
  position: absolute;
  top: 0px;
  right: 30px; }

.footer p {
  margin: 0px;
  text-align: left;
  padding-left: 10px;
  font-size: 0.6em; }
